#sortWrapper {
  display: flex;
  width: 700px;
  justify-content: space-between;
}

@media (max-width: 750px) {
  #sortWrapper {
    width: auto;
    flex-direction: column;
    align-items: center;
  }
  select{
    margin-top: 15px;
  }
}
